#container{
    margin: 0 auto;
    width:480px;
    background-color: rgb(230,100,100);
    
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    color:rgb(226,236,236);
   /*  position: relative; */
}
/* #header>#center-menu{
    position:absolute;
    top:0;
    width:480px;
    text-align: center;
}
#header>#right-menu{
    position:absolute;
    top:0;
    right:0;
} */
#sub_header{
    display:none;
    /* overflow: hidden; */
}
/* #sub_header>ul{
    display:flex;
    justify-content: space-around;
} */
#sub_header>ul>li{
    float:left;
    
}
#sub_header>ul>li>a{
    display:block;
    width:120px;
    text-align:center;
    padding:15px 0;
}
#menu:checked ~ #sub_header{
    display: block;
    /* animation-name:abc;
    animation-duration:30ms */
}
/*  @keyframes abc {
    from{
        display:none;
    }to{
        display:block;
    }
    
} */
 #content{
    padding: 3.6rem 2rem;
 }
 #content > h1{
    padding-bottom: 1rem;
 }
 #content>p{
    line-height:1.6rem;
    letter-spacing: 0.1rem;
 }
 #footer{
    padding:1.5rem 0;
    text-align: center;
 }