{% set aa="aa입니다" %}
{% set bb="bb입니다" %}
{% set fruits = ['사과','배','수박'] %}
{% set test = true %}
<!doctype html>
<html lang="en">
{% include "header.html" %}
<body>
<!--<a href="/multipart">파일업로드</a>-->
<h1>aa - {{aa}} bb-{{bb}}</h1>
<h1>세모괄호 사용 - {{'<span>aa</span>'}} bb-{{'<span>bb</span>' | safe}} </h1>
    <h1>흠음 {{title}}</h1>
<h1>myname = {{myname}}</h1>
{% if myname %}
    <h1>myname이 있다면 - {{myname}}</h1>
{% else %}
    <h1>myname이 없다면</h1>
{% endif %}
<div>
    <h1>파일 한개 올리기</h1>
    <!--<form action="/upload" method="post" enctype="multipart/form-data">-->
        <input type="file" id="file" name="image" accept=".png, .jpg, .jpeg">
        <input type="text" name="title" id="title">
        <button type="button" id="upload-btn">파일업로드</button>
    <!--</form>-->
</div>
<h2>{{data}}</h2>
<h2>{{aaa}}</h2>
<p>
    {% for person in member %}
    <hr>
        <h1>{{person.name}}</h1>
        <h1>{{person.age}}</h1>
    <hr>
    {% endfor %}
{% for user in users %}
<h2>{{user.name}}{{user.age}}</h2>
{% endfor %}
</p>
<script>
    const $btn = document.getElementById('upload-btn');
    $btn.addEventListener('click',async()=>{

    const fileInput = document.getElementById('file');
    const textInput = document.getElementById('title');
    const formData = new FormData();
    formData.append('image', fileInput.files[0]);
    formData.append('title',textInput.value);

    let res = await axios.post('/upload', formData,{
        headers:{
            "Content-type":"myltipart/form-data",
        }
    });
    console.log(res);
    })
</script>
</body>
</html>
