{% extends 'layout.html' %}

{% block style %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #ccc;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #f2f2f2;
    }
</style>
{% endblock %}
{% block content %}
<h1>Index</h1>
<div>
    <p>안녕하세요 배송 및 청소 및 수리 가능합니다.</p>
</div>
<div class="card" style="width: 95%; margin: 0 auto">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    </div>
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    </div>
</div>
{% if user %}
<span>환영합니다, {{ user.name }}님!</span>
<span>전화번호 {{user.phone}}</span>
<span>email {{user.email}}</span>
<span>주소 {{user.address}}</span>
{% endif %}

{% endblock %}
{% block script %}
{% endblock %}
