<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    {% block style %}
    {% endblock %}
</head>
<body>
<main>
    <ul class="nav nav-underline row justify-content-center flex-row border-bottom m-0 mb-3 w-100">
        <li class="nav-item col-2">
            {% if request.originalUrl === '/' %}
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            {% else %}
                <a class="nav-link" href="/">Home</a>
            {% endif %}
        </li>
        <li class="nav-item col-2">
            {% if request.originalUrl === '/admin' %}
                <a class="nav-link active" aria-current="page" href="/admin">관리자</a>
            {% else %}
                <a class="nav-link" href="/admin">관리자</a>
            {% endif %}
        </li>
        <li class="nav-item col-2">
            {% if request.originalUrl === '/reservation' %}
                <a class="nav-link active" aria-current="page" href="/reservation">예약</a>
            {% else %}
                <a class="nav-link" href="/reservation">예약</a>
            {% endif %}
        </li>
        <li class="nav-item col-2">
            {% if request.originalUrl === '/cleaner' %}
                <a class="nav-link active" href="/cleaner">청소기사</a>
            {% else %}
                <a class="nav-link" href="/cleaner">청소기사</a>
            {% endif %}
        </li>
        <li class="nav-item col-2">
            {% if request.originalUrl === '/login' %}
                <a class="nav-link active" aria-current="page" href="/login">로그인</a>
            {% else %}
                {% if request.session.user %}
                    <a class="nav-link" href="/login/logout">로그아웃</a>
                {% else %}
                    <a class="nav-link" href="/login">로그인</a>
                {% endif %}
            {% endif %}
        </li>
    </ul>
{% block content %}
{% endblock %}
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
{% block script %}
{% endblock %}
</body>
</html>