
* {
    margin: 0;
    padding: 0;
}
#header {
    background-color: bisque;
    z-index: 1;
    height: 20vh;
    padding : 20px;
    margin : 10px;
}
div{
    border-radius: 3px;
    border-style:ridge;
    
}
#container {
    background-color: yellow;
    margin-bottom: 1vh;
    height : 20vh;
    padding: 50px;
}

#footer {
    background-color: rgba(100, 200, 220, 0.3);
    height : 10vh;
    margin : 40px;
    padding : 20px;
    color:white;
}
